
.bodyList{
  background-image: url("./list/planne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #17262d;
  min-height: 100vh;
}
.bodyMeal{
  background-image: url("./meal/food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #17262d;
  min-height: 100vh;
}
.headerHome{
  background-image: url("home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #17262d;
  min-height: 100vh;
}
.nav{
  display: flex;
  justify-content: center;
  background-color: #f6f8fe;
}
.listNav{
  margin: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #0c1316;
  font-weight: bolder;
}
.headerList{
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}
.headerMeal{
  font-family: "Montserrat", sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}
.header{
  text-align: center;
  margin: 0;
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
  color: #6b7757;
  font-weight: bolder;
  font-size: 50px;
}
.par{
  text-align: center;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  color: #6b7757;
  font-size: 30px;
}
.par-two{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #580304;
  font-style: italic;
}
.List{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.button-add{
  font-family: "Montserrat", sans-serif;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
.button-delete{
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 0;
  font-size: 12px;
  color: red;
  margin-left: 10px;
}
.Meal{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.button-addList{
  font-family: "Montserrat", sans-serif;
  background-color: #83b031;
  border-radius: 2px;
  padding: 20px;
  border: none;
  font-size: 15px;
}
.button-deleteList{
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 0;
  font-size: 12px;
  color: rgb(145, 8, 8);
}
.whole-plan{
  width: 50%;
  height: 100vh;
}
.myInput{
  width: 67%;
  height: 20px;
  border-radius: 10px;
  margin-left: 30px;
  padding: 10px;
  display: block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.myInputList{
  width: 70%;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #777679;
  padding: 10px;
  display: block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.textAreaList{
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.textAreaMeal{
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-left: 30px;
  width: 70%;
  height: 200px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.selected-list{
  background-color: #fb9f8b;
}
.default-list{
  background-color:  #dad6df;
}
.mealForADay{
  color: #17262d;
  font-size: 14px;
  margin-left: 10px;
}
.listForADay{
  color: #17262d;
  font-size: 14px;
  margin-left: 10px;
}
.titleList{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #05845c;
  font-weight: bolder;
  margin-left: 10px;
}
.titleMeal{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #117634;
  font-weight: bolder;
  margin-left: 10px;
}
.ingredients{
  font-size: 12px;
  color: #154f77;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
}
.details{
  font-size: 12px;
  color: #093e62;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
 }
 .plan-list{
  color: #17262d;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
.selected{
  background-color: #fad106;
  border-radius: 10px;
}
.default{
  background-color: #dcedf7;
  border-radius: 10px;
}
.plan{
  color: #dcedf7;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}


@media all and ( max-width: 800px){
  .headerHome{
    background-position: bottom;
  }
  .whole-plan{
    width: 100%;
  }

  .myInputList, .myInput{
    width: 70%;
    margin-left: 50px;
  }
  .textAreaList, .textAreaMeal{
    margin-left: 50px;
    width: 75%;
  }
  .selected-list, .selected{
    margin-left: 10px;
    margin-right: 10px;
  }
  .default-list, .default{
    margin-left: 10px;
    margin-right: 10px;
  }
  .headerList, .headerMeal{
    margin-left: 10px;
    margin-right: 10px;
  }
  .button-addList, .button-add{
    margin-left: 10px;
  }

}

